<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" DefaultTargets="Build"
         xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition="'$(Configuration)' == ''">Release</Configuration>
    <Platform Condition="'$(Platform)' == ''">x64</Platform>
    <ProjectGuid>{0BFF450D-C27D-4D26-89D9-57BE3B3E4691}</ProjectGuid>
    <OutputType>Exe</OutputType>
    <RootNamespace>KairosBoot.PackageSmoke</RootNamespace>
    <AssemblyName>KairosBoot.PackageSmoke.Classic</AssemblyName>
    <TargetFrameworkVersion>v4.8</TargetFrameworkVersion>
    <PlatformTarget>x64</PlatformTarget>
    <Prefer32Bit>false</Prefer32Bit>
    <AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
    <OutputPath>bin\x64\Release\</OutputPath>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="KairosBoot">
      <HintPath>..\packages\KairosBoot.__PACKAGE_VERSION__\lib\net48\KairosBoot.dll</HintPath>
      <Private>true</Private>
    </Reference>
  </ItemGroup>
  <ItemGroup>
    <Compile Include="Program.cs" />
  </ItemGroup>
  <Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />
  <Import Project="..\packages\KairosBoot.__PACKAGE_VERSION__\build\net48\KairosBoot.targets"
          Condition="Exists('..\packages\KairosBoot.__PACKAGE_VERSION__\build\net48\KairosBoot.targets')" />
  <Target Name="EnsureKairosBootPackageTarget" BeforeTargets="PrepareForBuild">
    <Error Condition="!Exists('..\packages\KairosBoot.__PACKAGE_VERSION__\build\net48\KairosBoot.targets')"
           Text="KairosBoot package build target was not restored." />
  </Target>
</Project>
